* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffdb00;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  border-radius: 5px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 300px;
}

.title {
  margin: 0;
}

.subtitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
}

.header {
  background: #000;
  color: #ffdb00;
  padding: 30px 20px;
}

.header input {
  background: #ffdb00;
  border: none;
  border-radius: 50px;
  color: #000;
  font-size: 16px;
  padding: 10px 15px;
  width: 100%;
}

.header input:focus {
  outline: none;
}

.user_list {
  background: #ffdb00;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}

.user_list li {
  display: flex;
  padding: 20px;
}

.user_list img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.user_list .user_info {
  margin-left: 10px;
}

.user_list .user_info h4 {
  margin: 0 0 10px;
}

.user_list .user_info p {
  font-size: 12px;
}

.user_list li:not(:last-of-type) {
  border-bottom: 1px solid rgba(38, 38, 38, 0.5);
}

.user_list li.hide {
  display: none;
}
